
.container-menu {
    background-color: #202124;
    width: 300px;
    height: 100%;
    align-items: center;
    position: absolute;
    
  }
   
   .container-menu .searchContainer {
     align-items: center;
     flex: 1;
     justify-content: center;
     padding: 16px 16px 24px;
     border-bottom: 1px #161616 solid ;
   }

   .container-menu .searchContainer .MuiAutocomplete-root .MuiFormControl-root {
    background: #ccc;
    border-radius: 10%;
    text-decoration: #161616;
  }
 
   
   
   .container-menu input[type=text] {
     padding: 6px;
     margin-top: 8px;
     font-size: 16px;
     border: 1px #161616 solid;
     border-radius: 20%;
     background: #ccc;
   }
   
   .container-menu .searchContainer button {
     padding: 6px 10px;
     margin-left: 4px;
     margin-top: 8px;
     margin-right: 16px;
     background: #ddd;
     font-size: 17px;
     border: none;
     cursor: pointer;
     border-radius: 50%;
   }
   
   .container-menu .searchContainer button:hover {
     background: #ccc;
   }
 
   .optionsContainer {
     width: 100%;
     height: 100%;
     padding: 16px;
     display: flex;
     align-items: center;
     flex-direction: column;

     
   }

   .optionsContainer button {
     margin-bottom: 16px;
     width: 250px;
   }
 
   .btnContatos, .btnEntrada, .btnEnviados, .btnAgendados, .btnNovo {
     margin: 16px;
     border-radius: 10%;
     width: 150px;

   }

   .modal-email, .modal-assunto {
     width: 300px;
   }

   .modal-descricao {
     height: 177px;
     margin-bottom: 1em;
   }

   .modal-descricao-txt {
    height: 100%;
  }