.headerContainer {
  background-color: #1c1a1a;
  height: 5.5rem;

  display: flex;
  align-items: center;

  padding: 0 1rem;

  border-bottom: 2px solid gray;
}

p {
  margin-bottom: 0;
  margin-left: 2rem;
  padding: 0.25rem 0 0.25rem 2rem;
  border-left: 1px solid gray;
  color:#FEFEFE;
}

span {
  margin-left: auto;
  text-transform: capitalize;
  padding: 0 1rem 0;
}

.logo {
  height: 72px;
  width: 128px;
}