.containerRegistro {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  width: 600px;
  background-color: #fefefe;
  border-radius: 16px;
}

.containerTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.containerButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerRegistroGeral {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerRegistroTotal {
  height: 100%;
  width: 100%;
  background-image: url(../../assets//wallpaper1.jpg);
  overflow: auto;
}